{% extends 'index.html' %}
{% block main %}
<table class="table">
    <thead>
        <tr>
        <th>Nombre</th>
        <th>Fecha Nacimiento</th>
        <th>Instrumento Principal</th>
        <th>Grupo</th>
        <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        {% for mu in musico %}
            <tr>
                <td>{{mu.nombre}}</td>
                <td>{{mu.fechaNacimiento}}</td>
                <td>{{mu.instrumentoPrincipal}}</td>
                <td>{{mu.grupo}}</td>
                <td>{{mu.edad}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <form method="POST">
                            <button type="button" class="btn btn-primary btn-md center-block" onclick="location.href='{% url 'musico_edit' pk=mu.pk %}';" >Editar</button>
                        </form>

                        <form method="POST" action="">
                            <button type="button" class="btn btn-danger btn-md center-block" onclick="location.href='{% url 'musico_borrar' pk=mu.pk %}';" >Borrar</button>
                        </form>
                    </div>   
                </td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="btn-group" role="group" aria-label="Basic example">
    <form method="POST">
        <button type="button" class="btn btn-primary btn-md center-block" onclick="location.href='{% url 'musico_new' %}'" >Crear Musico</button>
    </form>

</div>   
{% endblock %}